<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.moutimid.bookingapp.helper.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingApplication"
        tools:targetApi="31">
        <activity
            android:name="com.moutimid.bookingapp.adminpanel.ShowDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutimid.bookingapp.adminpanel.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.moutimid.bookingapp.adminpanel.EditDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutimid.bookingapp.adminpanel.AddNewDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutimid.bookingapp.adminpanel.AllBookingActivity"
            android:exported="false" />
        <activity
            android:name="com.moutimid.bookingapp.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.moutimid.bookingapp.authetications.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.moutimid.bookingapp.authetications.SignupActivity"
            android:exported="true" />
        <activity
            android:name="com.moutimid.bookingapp.authetications.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.moutimid.bookingapp.authetications.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>